* ::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin: 0;
  background-color: #289989;
  display: flex;
}

section {
  margin: 0;
  background-color: #44a080;
  display: flex;
}

h1 {
  padding: 20px;
  color: #ffffff;
}

h2 {
  font-weight: normal;
  padding: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap;
  flex: 1;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap;
  flex: 1;
}

ul {
  display: flex;
}

li {
  padding: 10px;
  list-style: none;
}

li:last-child {
  padding-right: 0;
}

a {
  color: #ffffffff;
  text-decoration: none;
}
