* ::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  background-color: #289989;
  display: flex;
}

section {
  margin: 0;
  background-color: #44a080;
}

h1 {
  padding: 30px;
  color: #ffffff;
}

h2 {
  font-weight: normal;
  color: #ffffff;
}

nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap;
  flex: 1;
}

ul {
  display: flex;
}

li {
  padding: 10px;
  list-style: none;
}

li:last-child {
  padding-right: 0;
}

a {
  color: #ffffffff;
  text-decoration: none;
}

.fa-solid.fa-circle-minus {
  color: #ffffff;
  font-size: 3rem;
}

.intro-section {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 30px;
}
